/* .react-calendar-heatmap .color-scale-1 { fill: #082C1A; } */
.react-calendar-heatmap .color-scale-0 { fill: #c1c1c1; }
.react-calendar-heatmap .color-scale-1 { fill: #0E4429; }
.react-calendar-heatmap .color-scale-2 { fill: #006D32; }
.react-calendar-heatmap .color-scale-3 { fill: #26A641; }
.react-calendar-heatmap .color-scale-4 { fill: #39D353; }

